 /*
 Theme Name:   Storefront Child by Plasterdog
 Theme URI:    http://jeffmcnear.com/wordpress-manuals/storefront-child-manual.pdf
 Description:  STOREFRONT CHILD THEME MODIFICATIONS: OVERALL | made wider on desktop view |  modified typography rules |  streamlined back-end | HEADER: added announcement field | Added in-theme social media controls |  split top section |  added color controls for social media, main  | navigation & announcement line | WIDGETS: created new widget region to show on pages | created new widget region to show on posts & post archives | FOOTER:  added contact fields | split display of new fields | TEMPLATES:  new page template - no title | new page template - contained full width | post archive - inserted conditional logic for thumbnails | GUTENBERG CLASSES: MODIFIERS FOR TITLES (H1-H6) - WILL MAKE 10% LARGER: bigger | MODIFIERS FOR TITLES (H1-H6)- WILL MAKE 10% SMALLER: smaller | MODIFIERS FOR CONTAINERS - ADDING PADDING TO CONTAINER:  pad-1 = adds 1em padding on left & right | pad-2 = adds 1em padding on left & right | pad-3 = adds 1em padding on left & right | pad-4 = adds 1em padding on left & right |  pad-5 = adds 1em padding on left & right | MODIFIERS FOR CONTAINERS - ADDING MARGIN AROUND CONTAINER: margin-1 = adds 1em margin on left & right |  margin-2 = adds 1em margin on left & right | margin-3 = adds 1em margin on left & right | margin-4 = adds 1em margin on left & right | margin-5 = adds 1em margin on left & right
 Author:       Jeff McNear
 Author URI:   http://plasterdog.com
 Template:     storefront
 Version:      1.1.75
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         storefront-child
 Text Domain:  pdog-storefront
*/


/*--- GENERAL CLEANUP ---*/
a:hover{text-decoration: underline;}
.clear{clear:both;}
/*--- MAKING THINGS WIDER ---*/
.col-full {max-width: 1600px;margin-left: auto;margin-right: auto;padding: 0 2.617924em;box-sizing: content-box;}
.editor-styles-wrapper .storefront-has-sidebar .wp-block {max-width: 100%;}
/*--- CONTAINED FULL WIDTH TEMPLATE ---*/
.content-area.contained, .contained {width: 100%;float: none;margin-left: auto;margin-right: auto;max-width: 1100px;}
.content-area.uncontained {width: 100%;float: none;margin-left: auto;margin-right: auto;max-width:100%;}
/*--- DEFAULT HOVER COLOR FOR BUTTONS ---*/
input[type="submit"]:hover {background-color: #2f2f2f;}
/*---COMPENSATES FOR LACK OF TITLE ---*/
.page-template-page-no-title .site-main {padding-top: 1em;}
/*---LITTLE BUMP FOR THE SIDEBAR ---*/
#secondary {padding-top: 1em;}
/*--- ADJUSTING THE SPACE ABOVE THE PAGE TITLE ---*/
h1.entry-title {padding-top: 1em;}
/*--- SPECIFIC TO WOO --*/
.woocommerce-message, .woocommerce-info, .woocommerce-error, .woocommerce-noreviews, p.no-comments {background-color: #2f2f2f;}
.wc-block-product-search__label{font-size: 1.15em; font-weight: 600;}
.woocommerce-privacy-policy-text { visibility: collapse; height: 0;}/*--- specific to folium --*/
/*--- SPECIFIC TO MAILCHIMP ---*/
#mc_embed_signup_scroll label {font-size: 1.15em;font-weight: 600;}
/*--- ELIMINATING THE ANNOYING PURPLE BOX AROUND LINKS ---*/
a:focus, input:focus, textarea:focus, button:focus {   outline: 0px none transparent; }
/*---ARCHIVE VIEW---*/
.archive_left_picture{float:left; width:300px;}
.archive_left_picture img{width:100%;height:auto;}
.archive_right_text{float:right; width:calc(100% - 325px);}
.archive_right_text h1.entry-title {padding-top: 0;}
/*---TYPOGRAPHY ---*/
/*--- TITLES ---*/
h1 {  font-size: 1.85em;  line-height: 1.214;  letter-spacing: -1px; }
h2 { font-size: 1.65em;   line-height: 1.214; }
h3{ font-size: 1.45em; }
h4{ font-size: 1.35em; }
h5{font-size: 1.25em; }
h6{font-size: 1.1em; }
/*--- OTHER TYPOGRAPHY ---*/
p + h2, p + header h2, p + h3, p + h4, ul + h2, ul + header h2, ul + h3, ul + h4, ol + h2, ol + header h2, ol + h3, ol + h4, 
table + h2, table + header h2, table + h3, table + h4, blockquote + h2, blockquote + header h2, blockquote + h3, blockquote + h4, 
form + h2, form + header h2, form + h3, form + h4 { margin-top: 1em;}
p {margin: 0 0 1em 0;}
/*---NAVIGATION RELATED---*/
/*--- ADJUSTING THE MENU POSITION ---*/
.main-navigation ul.menu{margin-top:1em;}
.main-navigation ul.menu > li > a, .main-navigation ul.nav-menu > li > a {padding: 1em;}
/*--- MAKING THE FIRST TIER ITEMS SHOW WITH BLACK BACKGROUND AND WHITE TEXT ---*/
.main-navigation ul.menu li:hover, .main-navigation ul.menu li a:hover{background-color: rgba(0, 0, 0, 0.95);color:#ffffff;}
/*--- MAKING THE SECOND TIER ITEMS SHOW WITH BLACK BACKGROUND AND WHITE TEXT ---*/
.main-navigation ul.menu ul.sub-menu, .main-navigation ul.nav-menu ul.children {background-color: rgba(0, 0, 0, 0.95);color:#ffffff;}
.main-navigation ul.menu ul a,.main-navigation ul.menu ul a:hover,.main-navigation ul.menu ul li:hover > a,.main-navigation ul.menu ul li.focus,
.main-navigation ul.nav-menu ul a:hover,.main-navigation ul.nav-menu ul li:hover > a, .main-navigation ul.nav-menu ul li.focus 
{background-color: rgba(0, 0, 0, 0.95);color:#ffffff;}

@media screen and (max-width:767px){
/*--- NEUTRALIZING THE HOVER BEHAVIOR ABOVE ---*/	
	.main-navigation ul.menu > li > a:hover, .main-navigation ul.nav-menu > li > a:hover,.main-navigation ul li:hover{background-color: transparent;}
	.main-navigation ul.menu ul a, .main-navigation ul.menu ul a:hover, .main-navigation ul.menu ul li:hover > a, .main-navigation ul.menu ul li.focus,
	.main-navigation ul.nav-menu ul a:hover, .main-navigation ul.nav-menu ul li:hover > a, .main-navigation ul.nav-menu ul li.focus
	{background-color: transparent;}
}

/*--- SIDEBAR RELATED ---*/
.widget_nav_menu ul li{font-size:1.25em;}
.widget_nav_menu ul li::before {content: "";}
.widget-area .widget a:not(.button):not(.components-button) {font-weight: 400;text-decoration: none;color:#000000;}
.widget-area .widget a:not(.button):not(.components-button):hover {font-weight: 400;text-decoration:underline;color:#2f2f2f;}
/*--- HEADER RELATED ---*/
p.header-announcement{font-family: "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;font-weight: 300;letter-spacing: .075em;}
.woocommerce-active .site-header .main-navigation {width: 100%;float: left;margin-right: 0;clear: both;text-align: center;}
#masthead{text-align: center; padding-top:0;border-bottom:solid 1px #2f2f2f;}
#masthead p{margin:0;}
.home.blog .site-header, .home.page:not(.page-template-template-homepage) .site-header, .home.post-type-archive-product .site-header {margin-bottom: 0;}
.header-container{max-width: 1600px;margin-left: auto;margin-right: auto;}
.site-header{ width:100%;z-index:999;color:#000}
.beta.site-title {font-size: 2.9em;font-weight: 200;letter-spacing: .2em;}
#left-head{float:left;margin-left:0;width: 49%; text-align: left;}
#left-head p{padding:.25em 0 0 1em;font-size: 1.25em;}
#right-head{float:right;width: 49%; text-align: right;}
/*--- SOCIAL MEDIA LINKS ---*/
ul.top-social-icons{padding:.25em 0 0 0;margin:0;float:right;}
#right-head .top-social-icons li{list-style:none;float:left;margin-right:.75em;font-size:1.5em;}
#right-head .social{float:right;width:100%;}
#right-head .social a{color:#000000;}
#right-head .social a:hover{color:#2f2f2f;text-decoration:none;}
/*--- FOOTER RELATED ---*/
#colophon {border-top: 1px solid #2f2f2f;padding: .25em 0;}
#left-foot{float:left;margin-left:0;width: 49%; text-align: left;}
#right-foot{float:right;width: 49%; text-align: right;}
.site-info {color:transparent;padding: 0;margin: 0;font-size: 0;visibility: collapse;height: 0;}/*--- collapsing vestigal storefront section ---*/
.footer-widgets {padding-top: 0;border-bottom: none;}
.top-footer-widget{text-align:center;}
.top-footer-widget .widget {margin: 0;}
.top-footer-widget ul li ul {visibility: collapse;height: 0;}
.top-footer-widget li{display:inline-block;margin:0 1em; font-size:1em!important;}
.top-footer-widget li a{text-decoration: none!important;}
.top-footer-widget li a:hover{text-decoration: underline!important;}
.top-footer-widget .widget_nav_menu ul li {line-height: 0;}/*---REMOVES PHANTOMS FROM THE HIDDEN SECOND TIER --*/
/*--- RESPONSIVE STYLES ---*/
	@media (max-width:825px){
	#left-head, #right-head, #left-foot, #right-foot{float:left;margin:0 5%;width: 90%; text-align: left;}
	ul.top-social-icons {padding: .25em 0 0 0;margin: 0;float: left;}
	}
	@media (max-width:700px){
	.archive_left_picture{float:left; width:100%;}
	.archive_left_picture img{width:50%;height:auto;margin:0 auto;}
	.archive_right_text{float:right; width:100%;}
	.archive_right_text h1.entry-title {padding-top: .5em;}
	}

/*--- CLASSES FOR GUTENBERG ---*/
/*--- TITLE MODIFIERS ---*/
h1.bigger {  font-size: 2em;  line-height: 1.214;  letter-spacing: -1px; }
h2.bigger { font-size: 1.85em;   line-height: 1.214; }
h3.bigger{ font-size: 1.65em; }
h4.bigger{ font-size: 1.45em; }
h5.bigger{font-size: 1.35em; }
h6.bigger{font-size: 1.25em; }

h1.smaller  {  font-size: 1.65em;  line-height: 1.214;  letter-spacing: -1px; }
h2.smaller  { font-size: 1.45em;   line-height: 1.214; }
h3.smaller { font-size: 1.35em; }
h4.smaller { font-size: 1.25em; }
h5.smaller {font-size: 1.15em; }
h6.smaller {font-size: 1.05em; }

/*---PADDING ---*/
.pad-1 {padding:0 1em!important;}
.pad-2 {padding:0 2em!important;}
.pad-3 {padding:0 3em!important;}
.pad-4 {padding:0 4em!important;}
.pad-5 {padding:0 5em!important;}

/*--- MARGIN ---*/
.margin-1 {margin:0 1em!important;}
.margin-2 {margin:0 2em!important;}
.margin-3 {margin:0 3em!important;}
.margin-4 {margin:0 4em!important;}
.margin-5 {margin:0 5em!important;}